body {
  margin: 0;
  padding: 0;
  gap: 30px;
  font-family: Poppins;
  background-image: url(../img/bg2.jpg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  transition: all 1.5s;
  box-shadow: 10px 10px 10px;
  font-size: 15px;
}

nav a:hover {
  color: rgb(192, 48, 48);
  transform: scale(1.2);
}

.presentacion {
  display: flex;
  width: 80%;
  justify-content: center;
}

.logo {
  display: flex;
  width: 20%;
  height: auto;
  float: left;
  transition: all 0.5s;
  margin-left: 15%;
}

header img:hover {
  transform: scale(1.3);
}

.Acerca {
  margin-top: 50px;
  margin-bottom: 100px;
}

.Acerca h2 {
  font-size: 45px;
}

.trabajos {
  width: 50%;
  height: auto;
  margin-left: 25%;
  margin-top: 2.5%;
  margin-bottom: 0.5%;
}
